body {
    box-sizing: border-box;
    min-width: 702px;
    max-width: 1599px;
    margin: 0;
    font-family: 'Montserrat';    
}

h1, h2, h3 {
    font-family: 'Libre Baskerville';
    font-weight: 400;
}

h1 {
    font-size: 30px;
    line-height: 48px;
}

h2 {
    font-size: 24px;
    line-height: 38.4px;
}

h3 {
    font-size: 18px;
    line-height: 31.05px;
}

p {
    margin-block: 26px;
    line-height: 25.6px;
}

.block {
    width: 100%;
    position: relative;
}

.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.elipse {
    box-sizing: border-box;
    position: absolute;
    border-style: solid;
    border-width: 28px;
    border-color: #FFFFFF;
    border-radius: 100%;
}

.booking {
    box-sizing: border-box;
    background-color: #DD71C6;
    color: #FFFFFF;
    font-weight: 600;
    line-height: 19.5px;
    width: 215px;
    height: 40px;
    padding: 10px 14px;
    text-align: center;
    vertical-align: middle;
}

.hidden {
    display: none !important;
}

@media (min-width: 1600px) {
    body {
        min-width: 1600px;
        max-width: 1920px;    
    }

    h1 {
        font-size: 45px;
        line-height: 67.5px;
    }

    h2 {
        font-size: 32px;
        line-height: 51px;
    }
    
    h3 {
        font-size: 24px;
        line-height: 41px;
    }

    .container {
        width: 59.375%;
    }
}