#faq-section {
    box-sizing: border-box;
    position: relative;
    height: fit-content;
    padding-top: 98px;
    padding-bottom: 106px;
}

#faq-section h2 {
    margin: 0;
    width: fit-content;
    height: fit-content;
}

#faq-section .list {
    margin: 64px 0px 83px 2px;
    padding-right: 3px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#faq-section .list-item {
    background-color: #F9F9F9;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

#faq-section .question-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.question-row div {
    margin-right: 42px;
    padding: 3.91px 7px 0px;
}

.list-item .show {
    display: contents;
}

.list-item .up-direction {
    transform: rotate(180deg);
}

#faq-section .booking {
    align-self: center;
}

#faq-section-left {
    border-color: #F9F9F9;
    width: 410px;
    height: 410px;
    top: 728px;
    left: -190px;
}

#faq-section-top-right {
    border-color: #F9F9F9;
    width: 269px;
    height: 269px;
    top: 147px;
    left: 1590px;
}

#faq-section-bottom-right {
    border-color: #F9F9F9;
    width: 124px;
    height: 124px;
    top: 1051px;
    left: 1590px;
}