.navbar {
    height: 62.09px;
    display: flex;
    margin-bottom: 43.91px;
    z-index: 10;
}

.nav_items {
    margin-left: 53px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 21px;
    font-size: 14px;
    line-height: 17.07px;
    align-items: center;
}

.counter-column-title {
    color: #0083D3;
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 4px;
}

.counter-column-value {
    color: #333333;
    font-weight: 500;
    font-size: 36px;
    line-height: 64px;
}

#header {
    background-color: #F9F9F9;
    height: 879px;
    padding-top: 20px;
}

#header h1 {
    margin: 0;
    line-height: 54px;
}

#header-main {
    height: fit-content;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

#counter-box {
    margin: 0 auto;
    box-sizing: border-box;
    background: linear-gradient(90deg, #FFFFFF82, #FFFFFF7D);
    border-radius: 50px;
    width: 394px;
    height: 223px;
    padding: 26px 36px;
    display: grid;
    gap: 20px;
    box-shadow: 0 4px 40px 0 #0000001a;
}

#counter-title {
    width: 100%;
    font-size: 18px;
    line-height: 28.51px;
    text-align: center;
}

#counter-columns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-self: center;
}

#counter-columns > div {
    width: fit-content;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 19px;
}

#text-info {
    width: 63%;
    display: column;
}

.pink {
    color: #DD71C6;
}

#header .booking {
    margin: 22px auto 66px;
    z-index: 10;
}

#desktop-paragraph {
    display: none;
}

#tablet-paragraph {
    width: 65%;
    margin-top: 58px;
    margin-bottom: 0;
}

#spots {
    margin: 38px auto 39px;
}

#header-left {
    width: 273px;
    height: 273px;
    top: 358px;
    left: -105px;
}

#header-center {
    width: 179px;
    height: 179px;
    top: 546px;
    left: 529px;
    border-width: 23px;
    opacity: 15%;
}

#header-right {
    width: 289px;
    height: 289px;
    top: 117px;
    left: 571px;
    border-width: 28px;
    opacity: 15%;
}

#right-side-yellow {
    position: absolute;
    height: 100%;
    width: 52.44%;
    background-color: #FFD900;
    border-top-left-radius: 50px;
    right: 0;
    top: 94px;
}

@media (min-width: 1600px) {
    #header {
        height: 760px;
    }

    #header h1 {
        line-height: 67.5px;
    }

    .navbar {
        height: 62.09px;
        display: flex;
        margin-bottom: 99.91px;
        z-index: 10;
    }

    #header-main {
        /* height: 90%; */
        flex-direction: row;
    }

    #text-info {
        margin-top: -15px;
        display: flex;
        flex-direction: column;
        gap: 26px;
        width: 437px;
        height: fit-content;
    }

    #counter-box {
        border-radius: 30px;
        width: 629px;
        height: 321px;
        padding: 41px 36px;
        margin-left: 20px;
        display: grid;
        gap: 53px;
        box-shadow: none;
    }

    #counter-columns > div {
        gap: 36px;
    }

    .counter-column-title {
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 8px;
    }

    .counter-column-value {
        font-size: 50px;
        line-height: 88.95px;
    }

    #header .booking {
        margin: 0;
        /* margin-bottom: 115px; */
    }

    #desktop-paragraph {
        display: block;
        line-height: 26px;
    }

    #tablet-paragraph {
        display: none;
    }

    #spots {
        display: none;
    }

    #header-left {
        width: 386px;
        height: 386px;
        top: 187px;
        left: -91px;
    }
    
    #header-center {
        display: none;
    }
    
    #header-right {
        width: 436px;
        height: 436px;
        top: 123px;
        left: 1651px;
        opacity: 15%;
    }

    #right-side-yellow {
        width: 30.7%;
        border-top-left-radius: 35px;
        top: 0;
    }
}